<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Picolo</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="full_container">
        <div class="left">
            <div>
                <i class="material-icons ico">device_hub</i>
                <h3>
                    Optimize your traffic and load time with Picolo.
                </h3>
            </div>
        </div>
        <div class="right">
            <form action="#" class="login_signup_form general-form" id="form_login">
                <h2>Login</h2>
                <label class="input-label">
                    <b>Email address:</b>
                    <input type="email" name="email" autofocus required>
                </label>
                <label class="input-label">
                    <b>Password:</b>
                    <input type="password" name="password" required>
                </label>
                <label class="input-label">
                    <input type="submit" value="Login">
                </label>
                <a href="/register" class="form-sublink">Don't have an account?</a>
            </form>
        </div>
    </div>


    <script src="/assets/main.js" charset="utf-8"></script>
</body>
</html>
